.header {
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Roboto', sans-serif;
   text-align: center;
   background: #686e73;
   color: #ffffff;
   padding: 20px;
   margin-top: 0;
   height: 80px;
   font-size: 20px;
}
.choose {
   margin-top: 2em;
   padding-left: 30px;
   color: #3E3E3E;
   font-family: 'Roboto', sans-serif;
   text-align: left;
   font-size: 15px;
}
.whattoconsider {
   margin-left: 30px;
   font-size: 16px;
}
.footer {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 2em;
   font-family: 'Roboto', sans-serif;
   text-align: center;
   background: #e9eef1;
   color: #657786 ;
   font-size: 15px;
   margin-bottom: 0;
   height: 60px;
}
.product-cards {
   display: inline-block;
   margin-left: 20px; 
   margin-right: 20px;
}
.product-images {
   width: 300px;
   height: 300px;
   object-fit: contain;
   object-position: right;
}
.button-group {
   margin-top: 1em;
   margin-bottom: 1em;
   display: flex;
   justify-content: center;
}
.product-title {
   font-family: 'Roboto', sans-serif;
   text-align: center;
   font-size: 20px;
}
.product-description {
   font-family: 'Roboto', sans-serif;
   text-align: center;
   font-size: 15px;
}
.buy-now {
   background-color: #0d94e7;
   border: none;
   color: #F5F8FA;
   height: 40px;
   width: 100px;
   border-radius: 20px;
   font-family: 'Roboto', sans-serif;
   cursor: pointer;
}
.buy-now:hover {
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
.show-more {
   margin-left: 10px;
   background-color: white;
   border-color: #0d94e7;
   border-style: solid;
   border-width: 1px;
   color: #0d94e7;
   height: 40px;
   width: 100px;
   border-radius: 20px;
   font-family: 'Roboto', sans-serif;
   cursor: pointer;
   transition: background-color 0.15s, color 0.15s;
}
.show-more:hover {
   background-color: #007ecc;
   color: white;
   border-color: #007ecc;
}
.learnmore-button {
   background-color: #ffffff;
   border-color: #AAB8C2;
   border-style: solid;
   border-width: 1px;
   color: #424243;
   height: 25px;
   width: 80px;
   border-radius: 20px;
   font-family: 'Roboto', sans-serif;
   font-size: 12px;
   cursor: pointer;
}
.learnmore-button:hover {
   background-color: #007ecc;
   color: white;
   border-color: #007ecc;
}